<!--<script>
    $(document).ready(function () {
        $('#native').elevateZoom();
    });
</script>-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div left-slidebar min-price="99" max-price="999" min-slider-value="199" max-slider-value="599"></div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="product-details"><!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <!--<img ng-elevate-zoom ng-src="{{product.defaultImage}}" zoom-image="images/image11.jpg" />-->
                            <img ng-elevate-zoom ng-src="{{pathFile + product.defaultImage}}" zoom-image="images/image11.jpg" />
                            <!--<h3>ZOOM</h3>-->
                        </div>
                        <div ng-if="productImgs && productImgs.length > 0" id="similar-product" class="carousel slide" data-ride="carousel">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <a href="" ng-repeat="img in productImgs">
                                        <img ng-src="images/product-details/{{img}}" alt="">
                                    </a>
                                </div>
                            </div>

                            <!-- Controls -->
                            <a href="#similar-product" target="_self" class="left item-control" data-slide="prev" ng-non-bindable>
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a href="#similar-product" target="_self" class="right item-control" data-slide="next" ng-non-bindable>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>

                    </div>
                    <div class="col-sm-7">
                        <div class="product-information"><!--/product-information-->
                            <img src="images/product-details/new.jpg" class="newarrival" alt="" />
                            <h2>{{product.name}}</h2>
                            <p>Web ID: {{product.productId}}</p>
                            <img src="images/product-details/rating.png" alt="" />
                            <span>
                                <span>US ${{product.salePrice}}</span>
                                <label>Quantity:</label>
                                <input type="number" ng-model="quantity" />
                                <button ng-click="addToCart(product)" type="button" class="btn btn-fefault cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    Add to cart
                                </button>
                            </span>
                            <p><b>Availability:</b> {{product.isStockControlled?'In Stock':'Out of stock'}}</p>
                            <p><b>Condition:</b> New</p>
                            <p><b>Brand:</b> E-SHOPPER</p>
                            <a href=""><img src="images/product-details/share.png" class="share img-responsive"  alt="" /></a>
                        </div><!--/product-information-->
                    </div>
                </div><!--/product-details-->

                <div class="category-tab shop-details-tab"><!--category-tab-->
                    <div class="col-sm-12 shop-details-tab-header">
                        <ul class="nav nav-tabs">
                            <li><a href="#details" target="_self" data-toggle="tab">Details</a></li>
                            <!--<li><a href="#companyprofile" target="_self" data-toggle="tab">Company Profile</a></li>-->
                            <li><a href="#tag" target="_self" data-toggle="tab">Similar Items</a></li>
                            <li class="active"><a href="#reviews" target="_self" data-toggle="tab">Reviews (5)</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade" id="details" >
                            <div class="col-sm-12">
                                <p>{{product.description}}</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tag" >
                            <div class="col-sm-3" ng-repeat="p in products">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img ng-src="{{pathFile + p.defaultImage}}" alt="" />
                                            <h2>{{'$' + p.salePrice}}</h2>
                                            <p>{{p.name}}</p>
                                            <button type="button" ng-click="addToCart(product)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade active in" id="reviews">
                            <div class="col-sm-12" ng-repeat="r in reviews">
                                <ul>
                                    <li><a href=""><i class="fa fa-user"></i>{{r.user_id}}</a></li>
                                    <li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
                                    <li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
                                </ul>
                                <p>{{r.comment}}.</p>
                                <hr/>
                            </div>
                            <div  class="col-sm-12">
                                <p><b>Write Your Review</b></p>

                                <form name="comment" id="proCommentFrom">
                                    <textarea name="" ng-model="proComment['comment']"></textarea>
                                    <!--<input type="hidden" value="4" ng-model="proComment.rank"/>-->
                                    <b>Rating: </b> <img src="images/product-details/rating.png" alt="" />
                                    <button type="button" class="btn btn-default pull-right" ng-click="insertComment()">
                                        Submit
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div><!--/category-tab-->

                <div class="recommended_items"><!--recommended_items-->
                    <h2 class="title text-center">recommended items</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">	
                                <div class="col-sm-4" ng-repeat="pRe in productRecomands">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img ng-src="{{pathFile + pRe.defaultImage}}" alt="" />
                                                <h2>{{'$' + pRe.salePrice}}</h2>
                                                <p>{{pRe.name}}</p>
                                                <button type="button" ng-click="addToCart(product)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="left recommended-item-control" ng-click="loadPageRe(random - 1)">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" ng-click="loadPageRe(random + 1)">
                            <i class="fa fa-angle-right"></i>
                        </a>			
                    </div>
                </div><!--/recommended_items-->

            </div>
        </div>
    </div>
</section>