<div class="table-responsive cart_info">
    <table class="table table-condensed">
        <thead>
            <tr class="cart_menu">
                <td class="image">Item</td>
                <td class="">Name</td>
                <td class="price">Price</td>
                <td class="quantity">Quantity</td>
                <td class="total">Total</td>
                <td></td>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="item in items">
                <td class="cart_product">
                    <a href=""><img ng-src="{{pathFile + item.default_image}}" alt=""></a>
                </td>
                <td>{{item.product_name}}</td>
                <td class="cart_price">
                    <p>${{item.price}}</p>
                </td>
                <td class="cart_quantity">
                    <div class="cart_quantity_button">
                        <a class="cart_quantity_down" ng-click="decreaseQuantity($index)"> - </a>
                        <input class="cart_quantity_input" type="text" ng-model="item.quantity" ng-change="changeCart($index)" name="quantity" autocomplete="off" size="2">
                        <a class="cart_quantity_up" ng-click="increaseQuantity($index)"> + </a>
                    </div>
                </td>
                <td class="cart_total">
                    <p class="cart_total_price">${{(item.quantity * item.price).toFixed(2)}}</p>
                </td>
                <td class="cart_delete">
                    <a class="cart_quantity_delete" ng-click="removeItem($index)"><i class="fa fa-times"></i></a>
                </td>
            </tr>

            <tr ng-hide="items.length > 0" >
                <td class="text-center" colspan="4">
                    Your cart is empty.
                </td>
            </tr>

            <!--            <tr ng-if="showPayment">
                            <td colspan="4">&nbsp;</td>
                            <td colspan="2">
                                <table class="table table-condensed total-result">
                                    <tbody><tr>
                                            <td>Cart Sub Total</td>
                                            <td>$59</td>
                                        </tr>
                                        <tr>
                                            <td>Exo Tax</td>
                                            <td>$2</td>
                                        </tr>
                                        <tr class="shipping-cost">
                                            <td>Shipping Cost</td>
                                            <td>Free</td>										
                                        </tr>
                                        <tr>
                                            <td>Total</td>
                                            <td><span>$61</span></td>
                                        </tr>
                                    </tbody></table>
                            </td>
                        </tr>-->
        </tbody>
    </table>
</div>