<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
        <title>${subject}</title>
    </head>
    <body style="background: #f0f0f0;">
        <table cellspacing="0" cellpadding="0" border="0" style="color:#333;background:#fff;padding:0;margin:0;width:100%;font:15px/1.25em 'Helvetica Neue',Arial,Helvetica"> 
            <tbody>
                <tr width="100%"> 
                    <td valign="top" align="left" style="background:#f0f0f0;font:15px/1.25em 'Helvetica Neue',Arial,Helvetica"> 
                        <table style="border:none;padding:0 18px;margin:50px auto;width:500px"> 
                            <tbody>

                                <tr width="100%" height="57"> 
                                    <td valign="top" align="left" style="border-top-left-radius:4px;border-top-right-radius:4px;background: #0571AF;padding: 18px 18px;text-align:center;color: #fff;font-weight: bold;">

                                        ${subject} 
                                    </td> 
                                </tr>

                                <tr width="100%"> 
                                    <td valign="top" align="left" style="border-bottom-left-radius:4px;border-bottom-right-radius:4px;background:#fff;padding:18px"> 
                                        <h1 style="font-size:20px;margin:0;color:#333"> Hello ${first_name}&nbsp;${last_name}, </h1>

                                        <p style="font:15px/1.25em 'Helvetica Neue',Arial,Helvetica;color:#333"> 
                                           Thank you for registering! <br/>
                                           Before you start to use our service, you need to activate your account either by clicking the linked provided above or copying this address in your browser.
                                        </p>

                                        <p style="font:15px/1.25em 'Helvetica Neue',Arial,Helvetica;margin-bottom:0;text-align:center;color:#333">
                                            <a href="${activate_link}" style="border-radius:3px;background: #0571AF;color:#fff;display:block;font-weight:700;font-size:16px;line-height:1.25em;margin:24px auto 24px;padding:10px 18px;text-decoration:none;width:180px;text-align:center" target="_blank"> Activate your account </a> 
                                        </p>
                                        
                                        <div>

                                            <table>
                                                <tbody><tr>
                                                        <td width="168"><img src="http://dev2.hogodoc.com/hogopro/img/logo_console.png" alt="HoGo" border="0" width="155" class="CToWUd"></td>
                                                        <td width="204" style="font:15px/1.25em 'Helvetica Neue',Arial,Helvetica;color:#939393;margin-bottom:0">
                                                            <div>HoGo Team Space lets you protect, share documents and collaborate on project securely<br>
                                                                <a href="http://www.hogodoc.com" target="_blank">Learn
                                                                    More</a>&nbsp;<a href="http://www.hogodoc.com/about-hogo/privacy-policy" target="_blank">Privacy
                                                                    Policy</a><br>
                                                                &copy HoGo, Inc. </div>
                                                        </td>
                                                    </tr>
                                                </tbody></table>

                                        </div>

                                    </td> 
                                </tr>

                            </tbody> 
                        </table> 
                    </td> 
                </tr>
            </tbody> 
        </table>
    </body>
</html>