<div class="page-title">
    <div class="title">
        <h3 ng-i18next="page_title.category.category_list"></h3>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <ul class="list list-inline">
                    <li>
                        <button ui-sref="categories.create" class="btn btn-primary" ng-i18next="">Add</button>
                    </li>
                    <li>
                        <button ng-click="confirmDeleteCategory()" class="btn btn-danger" ng-i18next=""
                                ng-disabled="selected.length === 0">Delete
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix1"></div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-8"></div>
            <div class="col-xs-6 col-sm-6 col-md-4 text-right">
                <input ng-model="searchString" ng-keyup="doSearch($event)" type="text" class="form-control"
                       placeholder="Search"/>
            </div>
        </div>
    </div>
</div>

<div class="clearfix20"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="x-table">
                    <!--table header-->
                    <div class="row x-table-header">
                        <div class="col-xs-1 text-center"><input icheck ng-change="toggleSelectAll(selectedAll)"
                                                               ng-model="selectedAll" type="checkbox"/></div>
                        <div class="col-xs-3 text-center">
                            <i class="fa fa-sort" aria-hidden="true" ng-click="doSort(1)" style="cursor: pointer"></i>
                            <span ng-i18next="" ng-click="doSort(1)" style="cursor: pointer">Name</span>
                        </div>
                        <div class="col-xs-3 text-center">
                            <i class="fa fa-sort" aria-hidden="true" ng-click="doSort(2)" style="cursor: pointer"></i>
                            <span ng-i18next="" ng-click="doSort(2)">Description</span></div>
                        <div class="col-xs-3 text-center hidden-xs">
                            <i class="fa fa-sort" aria-hidden="true" ng-click="doSort(3)" style="cursor: pointer"></i>
                            <span ng-i18next="" ng-click="doSort(3)" style="cursor: pointer">Parent Name</span>
                        </div>
                        <div class="col-xs-2 text-center"><span ng-i18next="">Detail</span></div>
                    </div>

                    <!--table content-->
                    <div class="col-xs-12 text-center" ng-show="categories.length === 0" style="top: 5px">
                        <span ng-i18next="table.header.no_data">No Data</span>
                    </div>
                    <div class="row x-table-row" ng-repeat="cate in categories" ng-click="toggleSelected(user)">
                        <div class="col-xs-1 text-center"><input icheck ng-click="$event.stopPropagation()"
                                                               ng-change="toggleSelected(cate)"
                                                               ng-model="cate._selected" type="checkbox"/></div>
                        <div class="col-xs-3 text-center"><span ng-bind="cate.name"></span></div>
                        <div class="col-xs-3 text-center"><span ng-bind="cate.description || '-'"></span></div>
                        <div class="col-xs-3 text-center"><span ng-bind="cate.parent_name || '-'"></span></div>
                        <div class="col-xs-2 text-center">
                            <span ng-click="loadCategoryDetail(cate.categoryId)"
                                  class="glyphicon glyphicon-info-sign zoom-btn"></span>
                            <span ng-click="confirmDeleteCategory(cate.categoryId)" class="glyphicon glyphicon-trash"
                                  style="color: red"></span>
                        </div>
                    </div>

                    <!--table footer-->
                    <div class="row x-table-footer text-right">
                        <ul ng-show="categories.length > 0" uib-pagination total-items="totalItems" ng-model="currentPage"
                            max-size="maxSize" num-pages="totalPages" class="pagination-sm" boundary-link-numbers="true"
                            rotate="false" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;"
                            first-text="&laquo;" last-text="&raquo;" boundary-links="true"
                            items-per-page="pageSize"></ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
