<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-center">
                    <input type="checkbox" class="icheckbox icheckbox_flat" role="parent-checkbox"/>
                </th>
                <th class="text-center">name</th>
                <th class="text-center">2</th>
                <th class="text-center">3</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
</body>
</html>
