<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="page-title">
            <div class="title">
                <h3 ng-i18next="page_title.product.product_list"></h3>
                <div class="">
                    <button ui-sref="products.create" class="btn btn-primary btn-custom"
                            ng-i18next="button.add"></button>
                    <button ng-click="confirmDeleteProduct()" class="btn btn-danger" ng-i18next="button.delete"
                            ng-disabled="selected.length === 0"></button>
                </div>
                <div class="clearfix1"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table datatable="categoryTable" datatable-opts="opts" class="table table-striped">
                            <thead>
                            <tr>
                                <th class="text-center">
                                    <input icheckTable type="checkbox" class="icheckbox" role="parent-checkbox"/>
                                </th>
                                <th class="text-center">name</th>
                                <th class="text-center">2</th>
                                <th class="text-center">3</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
