<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/modern_ecommerce?useUnicode=true&amp;characterEncoding=UTF-8</property>
        <!--        <property name="connection.url">jdbc:mysql://hogodev.cwcq1pagkewz.us-west-2.rds.amazonaws.com:3306/hogopro?useUnicode=true&amp;characterEncoding=UTF-8</property>-->
        <property name="connection.username">root</property>
<!--        <property name="connection.password">root</property>-->
        
        

        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>           
        <property name="connection.autoReconnect"> true</property>
        <property name="connection.autoReconnectForPools">true</property>
        <property name="connection.is-connection-validation-required">true</property>

        <property name="hibernate.c3p0.acquire_increment">5</property> 
        <property name="hibernate.c3p0.max_size">150</property>
        <property name="hibernate.c3p0.max_statements">0</property>
        <property name="hibernate.c3p0.min_size">10</property>
        <property name="hibernate.c3p0.timeout">100</property> <!-- seconds --> 
        <property name="hibernate.c3p0.idle_test_period">30</property> <!-- seconds --> 
        <property name="hibernate.c3p0.preferredTestQuery">select 1;</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- Enable Hibernate's automatic session context management, in this case the session will be close after each transaction! -->
        <property name="current_session_context_class">thread</property>
        <!-- Disable the second-level cache -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>
        <!-- auto create tables, auto create column base on entity -->
        <!--<property name="hbm2ddl.auto">update</property>-->
  
        <!-- Mappings table in database-->
        <mapping class="com.nitsoft.ecommerce.model.User"/>
<!--        <mapping class="com.hogo.model.Session"/>-->
        
    </session-factory>
</hibernate-configuration>